<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :correct_answer %>
    <%= form.select(:correct_answer, Question.correct_answers.keys.map {|key| [key.humanize, key]}) %>
  </div>

  <div class="field">
    <%= form.label :trail %>
    <%= form.select(:trail_id, options_from_collection_for_select(Trail.all.map, :id, :name)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
