<div>  
  <div class="row">
    <div class="col">
      <strong id="notebook"><%= question.from %></strong>
      <br />
      <strong> TEMPO RESTANTE: <span id="timer"></span></strong>
    </div>
  </div>
  <p>
    <%= question.body %><br>
    <% if !question.image.nil? %>
      <figure>
        <%= image_tag question&.image %>
        <figcaption><%= question.title %></figcaption>
      </figure>
    <% else %>
      <strong><%= question.title %></strong>
    <% end %>
  </p>
</div>
