<div class="col-xl-6">
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-chart-area me-1"></i>
      Respostas do Jogador <%= player.name %>
    </div>
    <div class="card-body">
      <% if answers && ready %>
        <% answers.each_with_index do |answer, index| %>
          <strong>Questão - <%= index + 1 %> </strong>
          <p><%= answer.question.title %></p>
          <p><%= answer.question.body %></p>
          <strong>Alternativa Correta <%= "#{answer.question.alternatives.correct_alternative.letter}) #{answer.question.alternatives.correct_alternative.text}" %></strong><br>
          <strong> Resposta do Usuário <%= "#{answer.alternative.letter}) #{answer.alternative.text}" %></strong><br>
        <% end %>
      <% else %>
        Aguardando o jogador concluir a partida...
      <% end %>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>
</div>
