<% content_for :page_title do %>
  Desafio - <%= !@match.winner&.name.nil? ? "Vitória de #{@match.winner.name}" : "#{@match.player1.name} versus #{@match.player2.name}" %>
<% end %>
<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-chart-area me-1"></i>
    Dados da Partida - <%= "#{@match.player1.name} versus #{@match.player2.name}"%>
  </div>
  <div class="card-body">
    <h3><%= @match.winner.name %> venceu a partida!!</h3>
    <p>Acertos de <%= @match.player1.name %>: <%= @player1_answer_count %></p>
    <p>Acertos de <%= @match.player2.name %>: <%= @player2_answer_count %></p>
  </div>
</div>
<% @player1_answers.each_with_index do |answer, index|%>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Questão <%= index + 1%>
    </div>
    <div class="card-body">
      <%= render "questions/show", question: answer.question %>
      <% answer.question.alternatives.each_with_index do |alternative, id| %>
      <div class="form-check">
          <% if !alternative.image.nil? %>
            <%= "#{alternative.letter}) " %><%= image_tag(alternative.image)   %> <br />
          <% else %>
            <%= "#{alternative.letter}) " + alternative.text %> <br />
          <% end %>
      </div>
      <% end %>
      <strong>Resolução: </strong>
      <%= answer.question.resolution %><br>
      <strong>Resposta correta: <%= Alternative.letters.key(answer.question.correct_answer) %></strong><br>
      <strong> Resposta de <%= "#{@match.player1.name}: #{answer.alternative.letter})" %></strong><br>
      <strong> Resposta de <%= "#{@match.player2.name}: #{@player2_answers[index].alternative.letter})" %></strong><br>

    </div>
  </div>
<% end %>
