<%= content_for :page_title do %>
  Ranking de Desafios
<% end %>

<div class="row">
  <div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Ranking de Desafios
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <%= render "match/challenge_scoreboards/rank" %>
      </div>
    </div>
  </div>
</div>
