<% content_for :title do %>
  Login
<% end %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <%= f.label :email %><br />                                        
  </div>
  <div class="form-floating mb-3">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    <%= f.label :password %><br />
  </div>
  <div class="form-check mb-3">
    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-labels" %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>


