<% content_for :page_title do %>
  Métrica de Desempenho
<% end %>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Acompanhe seu desempenho respondendo questões!</li>
  </ol>
<div class="card mb-4">
  <div class="card-header">
    Meu Desempenho
  </div>
  <div class="card-body">
    <%= line_chart [{name: "Corretas", data: @correct}, {name: "Erradas", data: @wrong}, {name: "Total", data: @total}], curve: true, xtitle: "Dia", ytitle: "Número de Questões" %>
  </div>
</div>