<div class="col-xl-6">
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-chart-area me-1"></i>
      <%=  user_to_trail.trail.name %>
    </div>
    <div class="card-body">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= progress_bar_percentage(user_to_trail)%>" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="row">
        <div class="col"><p><strong>Nível atual:&nbsp</strong><%= user_to_trail.level%></p></div>
        <div class="col-md-4 offset-md-4"><p class="text-end"><strong>Próximo nível:&nbsp</strong><%= UserToTrail.levels.key(UserToTrail.levels[user_to_trail.level] + 1) %></p></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><strong>Acertos:&nbsp</strong><%= user_to_trail.correct_amount %></p>
          <p><strong>Erros:&nbsp</strong><%= user_to_trail.wrong_amount %></p>
          <p><strong>Total:&nbsp</strong><%= user_to_trail.wrong_amount + user_to_trail.correct_amount %></p>
        </div>
        <div class="col-md-4 offset-md-4">
          <%= link_to 'Jogar', play_trail_user_to_trail_path(user_to_trail.id), class: "btn btn-primary align-bottom" %>
        </div>
      </div>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>
</div>
