<table class="table">
  <thead>
    <tr>
      <th scope="col">Trilha</th>
      <th scope="col">Nível</th>
      <th scope="col">Acertos</th>
      <th scope="col">Erros</th>
    </tr>
  </thead>
  <tbody>
    <% @user.user_to_trail.each do |record| %>
      <tr>
        <td><%= record.trail.name %></td>
        <td><%= record.level %></td>
        <td><%= record.correct_amount %></td>
        <td><%= record.wrong_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>