<% content_for :javascript do %>
  <%= javascript_pack_tag "trail" %>
  <%= stylesheet_link_tag "https://unpkg.com/intro.js/minified/introjs.min.css" %>
<% end %>

<% content_for :page_title do %>
  <div class="row">
    <div class="col">
      Minhas Trilhas
    </div>
    <div class="col pull-right">
      <div class="float-end">
        <input id="help" type="button" class="btn btn-primary align-bottom" value="Ajuda" />
      </div>
    </div>
  </div>
<% end %>
<br>
<div class="row">
  <% @user_to_trails.each do |user_to_trail| %>
    <%= render "trail/user_to_trails/card", user_to_trail: user_to_trail %>
  <% end %>
</div>
