<% content_for :javascript do %>
  <%= javascript_pack_tag "trail_play" %>
  <%= stylesheet_link_tag "https://unpkg.com/intro.js/minified/introjs.min.css" %>
<% end %>

<% content_for :page_title do %>
  <div class="row">
    <div class="col">
      Trilha de <%= @user_to_trail.trail.name %>
    </div>
    <div class="col pull-right">
      <div class="float-end">
        <input id="help" type="button" class="btn btn-primary align-bottom" value="Ajuda" />
      </div>
    </div>
  </div>
<% end %>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= progress_bar_percentage(@user_to_trail)%>" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="row">
  <div id="current_level" class="col"><p><strong>Nível atual:&nbsp</strong><%= @user_to_trail.level%></p></div>
  <div class="col offset-md-4"><p class="text-end"><strong>Próximo nível:&nbsp</strong><%= UserToTrail.levels.key(UserToTrail.levels[@user_to_trail.level] + 1) %></p></div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Questão
  </div>
  <div class="card-body">
    <%= render "questions/show", question: @question, user_to_trail_id: @user_to_trail.id %>
    <%= render 'answers/form', answer: Answer.new(question_id: @question.id, user_to_trail_id: @user_to_trail.id), url_opts: trail_answers_path(@user_to_trail.id), question: @question %>
  </div>
</div>