<% content_for :page_title do %>
  Trilha de <%= @user_to_trail.trail.name %>
<% end %>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= progress_bar_percentage(@user_to_trail)%>" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="row">
  <div class="col"><p><strong>Nível atual:&nbsp</strong><%= @user_to_trail.level%></p></div>
  <div class="col offset-md-4"><p class="text-end"><strong>Próximo nível:&nbsp</strong><%= UserToTrail.levels.key(UserToTrail.levels[@user_to_trail.level] + 1) %></p></div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Questão
  </div>
  <div class="card-body">
    <%= render "questions/show", question: @answer.question, user_to_trail_id: @user_to_trail.id %>
    <%= render 'answers/form', answer: @answer, question: @answer.question, url_opts: trail_answers_path(@user_to_trail.id), view_only: true %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Resolução
  </div>
  <div class="card-body">
    <%= render "questions/resolution", question: @answer.question %>
    <div class="row">
      <div class="col pull-right">
        <%= link_to 'Continuar', play_trail_user_to_trail_path(@user_to_trail.id), class: "btn btn-primary align-bottom" %>
      </div>
    </div>
  </div>
</div>
