<p>
  <strong>User:</strong>
  <%= @user_to_trail.user_id %>
</p>

<p>
  <strong>Trail:</strong>
  <%= @user_to_trail.trail_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @user_to_trail.level %>
</p>

<p>
  <strong>Correct amount:</strong>
  <%= @user_to_trail.correct_amount %>
</p>

<p>
  <strong>Wrong amount:</strong>
  <%= @user_to_trail.wrong_amount %>
</p>
