<table class="table">
  <thead>
    <tr>
      <th scope="col">Posição</th>
      <th scope="col">Nome</th>
      <th scope="col">Pontuação</th>
      <th scope="col">Vitórias</th>
      <th scope="col">Derrotas</th>
    </tr>
  </thead>
  <tbody>
    <% @rank_slice.each_with_index do |record, index| %>
      <tr class=<%= record.user.id == @user.id ? 'table-active' : nil %>>
        <td><%= @rank_position + index %></td>
        <td><%= record.user.name %></td>
        <td><%= record.points %></td>
        <td><%= record.wins %></td>
        <td><%= record.losses %></td>
      </tr>
    <% end %>
  </tbody>
</table>