<% if @user.badges.length > 0 %>
  <div class="row text-center">
    <% @user&.badges.each do |badge| %>
      <div class="col-xs-2">
        <figure>
          <%= image_tag badge.image %>
          <figcaption><strong><%= badge.title %></strong></figcaption>
          <p><%= badge.description %></strong>
        </figure>
      </div>
    <% end %>
  </div>
<% else %>
<p>Poxa, você ainda não possui badges. Porém não desanime, continue jogando que você chega lá!</p>
<% end %>