
<%= content_for :page_title do %>
  <%= current_user == @user ? "Meu Perfil" : @user.name %>
<% end %>

<div class="row">
  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Dados
      </div>
      <div class="card-body"><%= render "users/user_card" %></div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        Conquistas
      </div>
      <div class="card-body">
        <%= render  "users/user_badges" %>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Ranking de Desafios
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <%= render "users/rank" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Pontuação em Trilhas
      </div>
      <div class="card-body">
        <%= render "trail/user_to_trails/trail_list"%>
      </div>
    </div>
  </div>  
</div>
<div class="row">
</div>
