<%= form_with(model: answer, class: "answer_form", url: url_opts) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :timedout, value: false %>
  <div class="form-check">
    <%= form.collection_radio_buttons :alternative_id, question.alternatives, :id, :text, html_options: { class: 'form-control', required: true } do |b|%>
      <% if !b.object.image.nil? %>
        <%= b.label(class: "form-check-label") { b.radio_button(class: "form-check-input" ) + "#{b.object.letter}) " + image_tag(b.object.image) } %> <br />
      <% else %>
        <%= b.label(class: "form-check-label") { b.radio_button(class: "form-check-input" ) + "#{b.object.letter}) " + b.text } %> <br />
      <% end %>
    <% end %>
  </div>
  <% if !local_variables.include?(:view_only) || !view_only %>
    <%= form.hidden_field :match_id %>
    <%= form.hidden_field :user_to_trail_id %>
    <%= form.hidden_field :question_id %>
    <br />

    <div class="actions">
      <%= form.submit("Responder", { id: "answer_submit", class: "btn btn-primary" }) %>
    </div>
  <% end %>
<% end %>
