<h1>Answers</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Correct</th>
      <th>User</th>
      <th>Match</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.choice %></td>
        <td><%= answer.correct %></td>
        <td><%= answer.user_id %></td>
        <td><%= answer.match_id %></td>
        <td><%= answer.question_id %></td>
        <td><%= link_to 'Show', answer %></td>
        <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
        <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_answer_path %>
