<table class="table">
  <thead>
    <tr>
      <th scope="col">Posição</th>
      <th scope="col">Nome</th>
      <th scope="col">Acertos</th>
      <th scope="col">Erros</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @rank_slice.each_with_index do |record, index| %>
      <tr class=<%= record.user.id == current_user.id ? 'table-active' : nil %>>
        <td><%=  index + 1 %></td>
        <td><%= link_to record.user.name, record.user %></td>
        <td><%= record.correct_amount %></td>
        <td><%= record.wrong_amount %></td>
        <td><%= record.correct_amount + record.wrong_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>