<%= content_for :page_title do %>
  Ranking da Trilha <%= @trail.name %>
<% end %>

<div class="row">
  <div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Ranking de <%= @trail.name %>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <%= render "trail/trail_scoreboards/rank" %>
      </div>
    </div>
  </div>
</div>
