<% content_for :javascript do %>
  <%= javascript_pack_tag "matches" %>
<% end %>
<% content_for :page_title do %>
  Desafio - <%= "#{match.player1.name} versus #{ !match.player2.nil? ? match.player2.name : "..."}"%>
<% end %>

<div>
  <h4 id="status"> <%= match_status(@match.status) %></h4>
  <h2>Regras</h2>
  <ul>
    <li>Para jogar, o jogador deve possuir ao menos 25 pontos no modo desafio.</li>
    <li>O jogador deve responder 5 questões de temas sortidos.</li>
    <li>Há um limite de tempo sobre o qual a questão deve ser respondida para que seja contabilizada no resultado final.</li>
    <li>O jogador vencedor receberá 25 pontos de modo desafio, enquanto o perdedor perderá 25 pontos.</li>
    <li>É possível visualizar a sua posição no ranking de modo desafio em seu perfil.</li>
    <li>As resoluções e o resultado podem ser visualizadas na página de detalhes da partida, após concluir a resolução.</li>
  <ul>
  <% if @match.player1 != current_user && !@match.player2%>
    <%= link_to 'Deseja entrar na partida?', join_match_match_path(@match) , method: :put %>
  <% end %>
</div>