<% content_for :page_title do %>
  <div class="row">
    <div class="col-md-4">Minhas Partidas</div>
    <div class="col-md-4 offset-md-4 text-end"><%= render "match/matches/simple_form", match: @match %></div>
  </div>
<% end %>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-chart-area me-1"></i>
    Histórico de Partidas
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
            <tr>
                <th>Jogador 1</th>
                <th>Jogador 2</th>
                <th>Vencedor</th>
                <th>Status</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
          <% @matches.each do |match| %>
            <tr>
              <td><%= match.player1.name %></td>
              <td><%= match.player2&.name %></td>
              <td><%= match.winner&.name %></td>
              <td><%= match_status(match.status) %></td>
              <% if match.finished? %>
                <td><%= link_to 'Ver detalhes', report_match_match_path(match) %></td>
              <% else %>
                <td><%= link_to 'Voltar a partida', match_match_path(match) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <div class="card-footer small text-muted"></div>
</div>