<% content_for :javascript do %>
  <%= javascript_pack_tag "matches" %>
<% end %>
<% content_for :page_title do %>
  Desafio <%= "#{@match.player1.name} versus #{@match.player2.name}" %>
<% end %>


<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Questão
  </div>
  <div class="card-body">
    <%= render "questions/show", question: @question %>
    <%= render 'answers/form', answer: Answer.new(question_id: @question.id, match_id:  @match.id), url_opts: match_answers_path(@match.id), question: @question %>
  </div>
</div>