<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-chart-area me-1"></i>
    Desafio
  </div>
  <div class="card-body">
    <% if @match.awaiting? || @match.ongoing? %>
      <%= render 'match/matches/lobby', match: @match %>
      <% if (current_user == @match.player1 && !@match.player2.nil?) || current_user == @match.player2 %>
        <%= link_to 'Clique aqui para iniciar a partida', question_match_match_path(@match) %>
      <% end %>
    <% end %>
  </div>
  <div class="card-footer small text-muted"></div>
</div>
<%= link_to 'Back', match_match_path %>
