<!DOCTYPE html>
<html>
  <head>
    <title>Perguntados Enem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if params[:controller] == "matches" %>
      <%= javascript_pack_tag params[:controller] %>
    <% end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <%= yield :javascript %>
  </head>
  <body>
          <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Perguntados ENEM</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><%= link_to "Sair", destroy_user_session_path, method: :get, class: "dropdown-item" %></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Jogar</div>
                            <%= link_to match_matches_path, class: 'nav-link' do %>
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Desafios
                            <% end %>
                            <%= link_to trail_user_to_trails_path, class: 'nav-link' do %>
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Trilhas
                            <% end %>
                            <div class="sb-sidenav-menu-heading">Rankings</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Trilhas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <% @trails.each do |trail|%>
                                        <%= link_to trail.name,  trail_trail_scoreboard_path(trail.id), class: "nav-link" %>
                                    <% end %>
                                </nav>
                            </div>
                            <%= link_to match_challenge_scoreboards_path, class: 'nav-link' do %>
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Desafios
                            <% end %>
                            <div class="sb-sidenav-menu-heading">Usuário</div>
                            <%= link_to user_path(current_user.id), class:"nav-link" do %>
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Meu perfil
                            <% end %>
                            <%= link_to metrics_path, class:"nav-link" do %>
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Minhas Métricas
                            <% end %>

                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4"><%= yield :page_title %></h1>
                        <% flash.each do |key, value| %>
                            <div class="<%= flash_class(key) %>">
                                <%= value.html_safe %>
                            </div>
                        <% end %>
                        <%= yield %>
                    </div>
                </main>

                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Perguntados ENEM 2021</div>
                            <div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
  </body>
</html>
