<% content_for :title do %>
  Cadastro
<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :name, autofocus: true, autocomplete: "nome", class: "form-control" %>
    <%= f.label :name %><br />                                        
  </div>
  <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <%= f.label :email %><br />                                        
  </div>
  <div class="form-floating mb-3">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <%= f.label :password %>
  </div>
  <div class="form-floating mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    <%= f.label :password_confirmation %><br />
  </div>
  <div class="form-check mb-3">
    <div class="actions">
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

